form.newPassword {
  >div {
    display: flex;
    width: calc(50% - 8px);
    @media (max-width:767px) {
      width: 100%;
    }
    flex-direction: column;
    gap: 10px;
    label {
      color: #03133D;
      font-weight: 700;
    }
    input,
    textarea {
      border: 1px solid #d8d1e2;
      border-radius: 6px;
      padding: 18px;
      &::placeholder {
        color: #a79fb3;
        font-size: 14px;
      }
    }
  }
}