form .input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 11px;
}
@media (min-width: 640px) {
  form .input {
    font-size: 15px;
 }
}
form .input label {
  color: #03133d;
  font-weight: 700;
}
form .input input, form .input .select, form .input textarea {
  border: 1px solid #cdd0d8;
  border-radius: 8px;
  padding: 11px 17px;
}
@media (min-width: 640px) {
  form .input input, form .input .select, form .input textarea {
    padding: 16px 24px;
 }
}
form .input input:focus, form .input .select:focus, form .input textarea:focus {
  outline: none;
}
form .input input::placeholder, form .input .select::placeholder, form .input textarea::placeholder {
  color: #cdd0d8;
}
.profile .btns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
  gap: 16px;
}
@media (max-width: 639px) {
  .profile .btns * {
    text-align: center;
    width: 100%;
 }
  .profile .btns *:nth-child(1) {
    order: 2;
 }
}
.profile .btns * {
  padding: 12px 24px;
  border-radius: 16px;
}
.profile .btns *:nth-child(1) {
  border: 1px solid #a9a9a9;
}
