form {
  .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 11px;
    @media (min-width: 640px) {
      font-size: 15px;
    }
    label {
      color: #03133d;
      font-weight: 700;
    }
    input,
    .select,
    textarea {
      border: 1px solid #cdd0d8;
      border-radius: 8px;
      padding: 11px 17px;
      @media (min-width: 640px) {
        padding: 16px 24px;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #cdd0d8;
      }
    }
  }
}
.profile {
  .btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    @media (max-width: 639px) {
      * {
        text-align: center;
        width: 100%;
      }
      *:nth-child(1) {
        order: 2;
      }
    }
    gap: 16px;
    * {
      padding: 12px 24px;
      border-radius: 16px;
    }
    *:nth-child(1) {
      border: 1px solid #a9a9a9;
    }
  }
}
