.course-details {
  figure {
    a {
      padding: 14.5px 29px;
      border-radius: 90px;
      font-size: 14px;
      font-weight: 700;
      color: white;
      display: inline-block;
      background: linear-gradient(83.79deg, #1b45b4 3.25%, #1c2792 96.85%);
      @media (min-width: 768px) {
        padding: 16px 32px;
        font-size: 16px;
        border-radius: 100px;
      }
    }

    .action-btns {
      button {
        padding: 14.5px 29px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 90px;
      }
      button:nth-child(2) {
        border: 1px solid #32bca3;
        color: #32bca3;
        padding: 16px;
        border-radius: 50%;
      }
      @media (min-width: 768px) {
        button:nth-child(1) {
          padding: 16px 32px;
          font-size: 16px;
          border-radius: 100px;
        }
        button:nth-child(2) {
          padding: 18px;
        }
      }
    }
  }
}
.accordion {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 12px;
  @media (min-width: 768px) {
    gap: 20px;
  }
}

.accordion-item {
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
   */
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.078);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  svg {
    transition: 0.3s;
  }
  &.active {
    .accordion-header {
      svg {
        rotate: 180deg;
      }
    }
  }
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  color: #252525;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #f9fbff;
}

.accordion-content {
  .wrapper {
    padding: 15px;
  }
  max-height: 0;
  transition: 0.3s max-height;
  background-color: #fff;
}
form.register-course-request {
  .input {
    display: flex;
    flex-direction: column;
    & > * {
      font-size: 11px;
      @media (min-width: 640px) {
        font-size: 14px;
      }
      @media (min-width: 1024px) {
        font-size: 16px;
      }
    }
    label {
      color: #03133d;
      font-weight: 700;
    }
    input,
    .select,
    textarea {
      width: 100%;
      border: 1px solid #cdd0d8;
      border-radius: 8px;
      flex: 1;
      padding: 11px 17px;
      margin-top: 8px;
      @media (min-width: 640px) {
        padding: 16px 24px;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #cdd0d8;
      }
    }
  }
  >.select {
    label {
      color: #03133d;
      font-weight: 700;
    }
    & > * {
      font-size: 11px;
      @media (min-width: 640px) {
        font-size: 14px;
      }
      @media (min-width: 1024px) {
        font-size: 16px;
      }
    }
    .select{
      border: 1px solid #cdd0d8;
      border-radius: 8px;
      overflow: hidden;
      padding-left: 10px;
      select {
        width: 100%;
        padding: 11px 17px;
        &::placeholder {
          color: #cdd0d8;
        }
      }
    }
  }
  .input-error{
    font-size: 11px;
    font-weight: 500;
    color: red;
  }
}
