.my-courses .course {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 5px 4px 30px 0px #00000014;
  border-radius: 8px;
  gap: 10px;
}
.my-courses .course .info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.my-courses .course .info img {
  height: fit-content;
}
.my-courses .course .info .details {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 6px;
}
.my-courses .course .info .details *:not(:nth-last-child(p)) {
  line-height: 1;
}
@media (min-width: 640px) {
  .my-courses .course {
    padding: 16px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
 }
  .my-courses .course .info {
    gap: 24px;
 }
  .my-courses .course .info .details {
    gap: 9px;
 }
}
.my-course-shadow{
  box-shadow: 5px 4px 30px 0px #00000014;
}