
.profile{
  form {
    .input {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 11px;
      @media (min-width: 640px) {
        font-size: 15px;
      }
      label {
        color: #03133d;
        font-weight: 700;
      }
      input:not([type="file"]),
      .select:not(.multi-select) {
        border: 1px solid #cdd0d8;
        border-radius: 8px;
        padding: 11px 17px;
        @media (min-width: 640px) {
          padding: 16px 24px;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #cdd0d8;
        }
      }
    }
    .input-error{
      font-size: 10px;
      color: red;
      font-weight: 500;
    }
    .multi-select{

    }
  }
  .btns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    gap: 16px;
  }
}