:root {
  --abad-gold: #fdb614;
}

main.home-page {
  /* index page */
  /* contact page */
}
main.home-page .courses-sec {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
main.home-page .courses-sec > img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 294px;
  transform: translateX(45%);
}
@media (min-width: 1280px) {
  main.home-page .courses-sec > img {
    display: block;
  }
}
main.home-page .plan {
  position: relative;
  padding: 40px;
  overflow: hidden;
}
main.home-page .plan > img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
main.home-page .plan > div {
  display: flex;
  padding-top: 1.5rem;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  main.home-page .plan > div {
    padding-top: 0;
    flex-direction: row;
  }
}
main.home-page .plan > div .cards-title {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  main.home-page .plan > div .cards-title {
    width: 45%;
  }
}
main.home-page .plan > div .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1.5rem;
  max-width: 500px;
}
main.home-page .plan > div .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  justify-content: center;
  /* padding: 20px 14px; */
  width: 210px;
  margin: 0 auto;
}
main.home-page .plan > div .cards .card .img {
  border-radius: 50%;
  padding: 18px;
  background-color: #fff2ec;
  width: -moz-fit-content;
  width: fit-content;
}
main.home-page .plan > div .cards .card figcaption h4 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 6px;
}
main.home-page .plan > div .cards .card figcaption p {
  font-size: 15px;
  line-height: 1.5;
}
main.home-page .reviews {
  overflow: hidden;
  position: relative;
  padding: 2.5rem;
}
main.home-page .reviews > img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
main.home-page .reviews > div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 1024px;
}
@media (min-width: 640px) {
  main.home-page .reviews > div {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  main.home-page .reviews > div {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  main.home-page .reviews > div {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  main.home-page .reviews > div {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  main.home-page .reviews > div {
    max-width: 1536px;
  }
}
main.home-page .reviews > div > h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  color: #172327;
}
@media (min-width: 768px) {
  main.home-page .reviews > div > h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
main.home-page .reviews > div > h3 span:nth-of-type(1) {
  color: var(--abad-gold);
}
main.home-page .reviews > div > h3 span:nth-of-type(2) {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
main.home-page .reviews > div .cards {
  width: 100%;
}
main.home-page .reviews > div .cards .cards-wrapper .card {
  padding: 20px;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-details {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Noto Sans Arabic", sans-serif;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-details h4 {
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-details p {
  font-size: 14px;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-text {
  color: #172327;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-stars {
  display: flex;
  align-items: center;
  gap: 18px;
}
main.home-page .reviews > div .cards .cards-wrapper .card .card-wrapper .review-stars img {
  width: -moz-fit-content;
  width: fit-content;
}
main.home-page .reviews > div .cards .swiper-btns {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  justify-content: center;
}
main.home-page .reviews > div .cards .reviewsBtn {
  cursor: pointer;
}
main.home-page .reviews > div .cards .swiper1-btn {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main.home-page .reviews > div .cards .swiper1-btn::before, main.home-page .reviews > div .cards .swiper1-btn::after {
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
main.home-page .reviews > div .cards .swiper1-btn::before {
  background: linear-gradient(to right, #1c2792, #1b45b4);
  transition: 0.3s;
  opacity: 1;
}
main.home-page .reviews > div .cards .swiper1-btn::after {
  background: linear-gradient(to right, #29317e, #2a4ba7);
  opacity: 0;
}
main.home-page .reviews > div .cards .swiper1-btn.animate-review-btn::before {
  animation: reduceOpacityAni 0.3s;
}
main.home-page .reviews > div .cards .swiper1-btn.animate-review-btn::after {
  animation: growOpacityAni 0.3s;
}
@keyframes growOpacityAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes reduceOpacityAni {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
main.home-page .reviews > div .cards .swiper1-btn:focus-within {
  /* transition: 1s;
   background: #1e1e1e80; */
}
main.home-page .articles > * {
  margin: 0 auto;
}
main.home-page .articles > * article {
  /* padding: 12px; */
  /* max-width: 320px; */
  /* @media (min-width: 767px) {
    width: 32%;
  } */
}
main.home-page .articles > * article .article-wrapper {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
main.home-page .articles > * article .article-wrapper img {
  width: 100%;
}
main.home-page .articles > * article .article-wrapper > div:nth-child(2) {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
}
main.home-page .articles > * article .article-wrapper > div:nth-child(2) p {
  font-family: "Noto Sans Arabic", sans-serif;
  color: #172327;
}
main.home-page .articles > * article .article-wrapper > div:nth-child(2) h3 {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 500;
}
main.home-page .contact form .input .placeholder {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  pointer-events: none;
}
main.home-page .contact form .input input {
  flex: 1;
  color: white;
}
main.home-page .contact form .input input:focus::-moz-placeholder {
  display: none;
}
main.home-page .contact form .input input:focus::placeholder {
  display: none;
}
main.home-page .contact form .input input:not(:-moz-placeholder-shown) + span {
  font-size: 10px;
  transform: translateY(-170%) !important;
}
main.home-page .contact form .input input:not(:placeholder-shown) + span,
main.home-page .contact form .input input:focus + span {
  font-size: 10px;
  transform: translateY(-170%) !important;
}

body:has(.auth.flex) {
  /* & { */
  height: 100vh;
  overflow: hidden;
  /* } */
}/*# sourceMappingURL=main.css.map */