.my-course .intro .btns {
  width: 100%;
}
.my-course .intro .btns button {
  word-spacing: 2px;
  width: 100%;
}
@media (min-width: 768px) {
  .my-course .intro .btns {
    width: fit-content;
 }
  .my-course .intro .btns button {
    width: fit-content;
 }
}
.accordion {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 12px;
}
@media (min-width: 768px) {
  .accordion {
    gap: 20px;
 }
}
.accordion-item {
 /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
  */
  box-shadow: 5px 4px 30px 0px rgba(0, 0, 0, 0.078);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.accordion-item svg {
  transition: 0.3s;
}
.accordion-item.active .accordion-header svg {
  rotate: 180deg;
}
.accordion-item.active .accordion-content {
  max-height: 500px;
}
.accordion-item:last-child {
  border-bottom: none;
}
.accordion-header {
  color: #252525;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.accordion-header:hover {
  background-color: #f9fbff;
}
.accordion-content {
  max-height: 0;
  transition: 0.3s max-height;
  background-color: #fff;
}
.accordion-content .wrapper {
  padding: 15px;
}
